html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.home {
  width: 100%;
  height: 150vh;
  display: flex;
  padding-top: 100px;
  padding-right: 15%;
  flex-direction: column;
  background-position: 0px 00px;
  background-repeat: no-repeat;
  background-size:auto 480px;
  font-family: 'Roboto', sans-serif;
}

.headerContainer {
  width: 60%;
  margin-left: 50px;
  
}

.headerContainer h1 {
  padding-right: 15%;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 50px;
  font-weight: 50;
  color: rgb(255, 255, 255);
}

.headerContainer p {
  padding-right: 15%;
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

.headerContainer button {
  width: 320px;
  height: 120px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.05);
  border: none;
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 10px;
  backdrop-filter: blur(8px);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.headerContainer button:after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
      45deg,
      transparent 50%,
      rgba(255,255,255,0.03) 58%,
      rgba(255,255,255,0.16) 67%,
      transparent 68%
  );
  background-size: 200% 100%;
  background-position: 165% 0;
  transition: 0.7s;
}

button:hover:after{
  background-position: -20% 0;
}

@media only screen and (max-width: 960px) {
  .home {
 padding-right: 15%;
  font-size: 40px;
  font-weight: 50;
  color: rgb(255, 255, 255);
  background-size:1550px 480px;
  align-items: left;
  }
  .headerContainer h1,
  .headerContainer p {
  }

  .headerContainer h1 {
    font-size: 40px;

    height: 30px;
    color: white;
  }

  .headerContainer p {
    padding-top: 50px;
    font-size: 20px;
    color: white;
  }


}


@media only screen and (max-width: 1000px) {}