.navbar {
  width: 100%;
  height: 65px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;
}


.navbar .leftSide {
  flex: 50%;
  height: 100%;
  
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.navbar .leftSide img {
  width: 210px;
}


.navbar .rightSide {
  flex: 55%;
  padding-right: 3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar  button2 {
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #1fa521;
  
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: lighter;
}


.navbar a {
  color: #16C11A;
  text-decoration: none;
  margin: 30px;
}

.navbar .rightSide button {
  background-color: transparent;
  border: none;
  color: #16C11A;
  cursor: pointer;
}

.navbar .rightSide svg {
  font-size: 80px;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}
@media only screen and (max-width: 900px) {
  .navbar .rightSide a {
    width: 70px;
  }
  .navbar .leftSide {
    padding-left: 15%;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide a {
    display: none;
  }

  .navbar .rightSide {
    justify-content: flex-end;
    padding-right: 15%;
  }

  .navbar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}
